.detail-div{
    display: flex;
}
.detail-cont{
    border-radius: 5px;
    background-color: #FFBF00;
}

.restaurant-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.header-cont{
    background-color: #eee;
    width: 80%;
    border-radius: 0px 0px 5px 5px;
    color: black;
    text-align: center;
    padding-bottom: 10px;
}
.description-cont{
    display: flex;
    flex-direction: row;

}
.description-cont p{
    width: 50%;
    text-align: left;
    word-break: break-all;
}
@media(max-width: 768px){
    .header-cont{
        width: 70%;
    }
}